{% extends "base/base.html" %}

{% block headertitle %}
    Oracle数据库控制面板
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">控制面板</li>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">相关模块</h1>
        <p class="lead">AWR报告：已完成</p>
        <p class="lead">表空间监控：开发中</p>
        <p class="lead">ASM监控：已规划</p>
        <p class="lead">日志监控：已规划</p>
        <p class="lead">巡检报告：已规划</p>
    </div>
{% endblock %}